<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>myFoodApplication</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetRestaurant</display-name>
    <servlet-name>GetRestaurant</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.GetRestaurant.GetRestaurant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRestaurant</servlet-name>
    <url-pattern>/GetRestaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMenu</display-name>
    <servlet-name>GetMenu</servlet-name>
    <servlet-class>com.myFoodApplication.Servlet.GetMenu.GetMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMenu</servlet-name>
    <url-pattern>/GetMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMenu</display-name>
    <servlet-name>getMenu</servlet-name>
    <servlet-class>com.myFoodApplication.Servlet.getMenu.getMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMenu</servlet-name>
    <url-pattern>/getMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.cartController.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItemController</display-name>
    <servlet-name>DeleteCartItemController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.deleteCartItemController.DeleteCartItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItemController</servlet-name>
    <url-pattern>/DeleteCartItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCartItemController</display-name>
    <servlet-name>UpdateCartItemController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.updateCartItemController.UpdateCartItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCartItemController</servlet-name>
    <url-pattern>/UpdateCartItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartController</display-name>
    <servlet-name>ClearCartController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.clearCartController.ClearCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartController</servlet-name>
    <url-pattern>/ClearCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.checkoutController.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.paymentController.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessPaymentController</display-name>
    <servlet-name>ProcessPaymentController</servlet-name>
    <servlet-class>com.FoodApplication.Servlet.processPaymentController.ProcessPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPaymentController</servlet-name>
    <url-pattern>/ProcessPaymentController</url-pattern>
  </servlet-mapping>
</web-app>